
/* VARIOUS SCREEN SIZES: */

/* xs: Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html { font-size: 13pt; }
  .lang-card{  width: 100%;}
}

/* sm: Small devices (landscape phones, 576px and up) C:540 */
@media (min-width: 576px) and (max-width: 767.98px) {
  html { font-size: 13pt; }
  .lang-card{ width: 256px; margin: 6px; }
}

/* md: Medium devices (tablets, 768px and up) C:720 */
@media (min-width: 768px) and (max-width: 991.98px) {
  html { font-size: 12pt; }
  .lang-card{ width: 226px; margin: 6px; }
}

/* lg: Large devices (desktops, 992px and up) C:960*/
@media (min-width: 992px) {
  html { font-size: 12pt; }
  .lang-card{ width: 226px; margin: 6px; }
}

/* xl: Extra large devices (large desktops, 1200px and up) C:1140*/
@media (min-width: 1200px) {
  html { font-size: 12pt; }
  .lang-card{ width: 271px; margin: 6px; }
}

/* BI-CLASSIFIED SCREENS: XS vs OTHERS */

/* XS */
@media (max-width: 575.98px) {
  .display-3  { font-size: 2.5rem; }
  .lang-card:first-child{
    border-top: .5rem solid #ddd;
  }
  .lang-card {
    border-radius: 0!important;
    border: 0;
    border-top: .5rem solid #ddd;
    border-bottom: 1px solid #BBDEFB !important;
  }
  .lc-body {display: flex; height: 9rem;}
  .lc-logo { height:7rem; width: 8rem; padding-right: 1rem;}
  .lc-logo img { max-height:5rem; max-width: 5rem;}
  .lc-logo .lc-logo-not { font-size: 4rem; }
  .lc-logo .lc-logo-txt { font-size: 2rem; }
  .lc-core { width: 100%; }
  .lc-desc {font-size: .85rem; color: #333;}
  .pull-bottom {position:  absolute; bottom: 1rem;}
}

/* OTHERS */
@media (min-width: 576px) {
  .lang-card{ }
  .lc-header {
    border-bottom-color: #BBDEFB; /*blue-100*/
  }
  .lc-logo{height:8rem; }
  .lc-logo img { height:6rem; max-width: 7rem;}
  .lc-logo .lc-logo-not { font-size: 6rem; }
  .lc-logo .lc-logo-txt { font-size: 3rem; }
  .lc-core { border-top: 1px solid #eee; margin-top: 1rem; padding-top: 1rem;}

}


/* COMMON */
.lc-title{
  color: #2196F3; /*blue-500*/
}
.lang-card:hover {
  background: #fcfeff;
}
.lang-card:hover .lc-header {
  background: #E3F2FD; /*blue-50*/
}
.lang-card:hover .btn-light {
  background: #E3F2FD; /*blue-50*/
  color: #0D47A1; /*blue-900*/
}